:root {
	--animTime: 0.2s;
	--animType: linear;
}

body. button {
	transition: background-color var(--animTime) var(--animType),
				color var(--animTime) var(--animType);
}

body {
	background-color: #f5f2e8;
	color: black;
}

button {
	border: 2px solid black;
	padding: 10px 20px;
	color: black;
	font-weight: bold;
	background-color: rgba(0,0,0,0);
	z-index: 1;
	user-select: none;
	overflow: hidden;
}

button:hover {
	background-color: black;
	color: white;
}

.title {
	color: black;
}

.infoL {
	background-color: black;
}