* {
	text-align: center;
}

.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	width: calc(100% - 20px);
}

.stats {
	background-color: lightgreen;
	color: black;
	font-size: 16px;
	border: 1px solid #000;
	width: calc(100% / 2.29);
	height: 120px;
}

.hp-container {
	width: auto;
	height: 20px;
	background: #444;
	border: 1px solid #000;
	margin:5px 5px 10px;
}

.hp-bar {
	height: 100%;
	width: 100%;
	background: red;
	transition: width 0.2s ease;
}

.result {
	width: 80px;
	height: 120px;
	padding: 0 10px;
	border: 1px solid #000;
	background-color: lightgrey;
}

.stats-container {
	display: flex;
	gap: 5px;
}
	
.gameover {
	font-weight: bold;
	color: red;
	font-size: 50px;
}
	
.gamewin {
	font-weight: bold;
	color: green;
	font-size: 50px;
}

.hint {
	margin-top: 5px;
	font-size: 15px;
	background-color: yellow;
	border: 1px solid #000;
	padding: 10px;
}

#controls {
	display: flex;
	gap: 5px;
}

nav {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(6, 1fr);
}

button {
	font-size: 18px;
	padding: 12px 20px;
}

.button-container {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
}

.overlay {
	position: fixed;
	inset: 0;
	background: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popup-box {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
}

.hidden {
	display: none;
}

.popupTitle {
	font-size: 30px;
	margin: 5px;
}

.warning {
	color: red;
}

@media (max-height: 380px) {
	.button-container {
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media (min-width: 500px) {
	.container {
		width: 480px;
	}
}
@media (max-width: 500px) {
	nav {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 320px) {
	.container {
		width: 300px;
	}
}