.list-content {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.0);
	scrollbar-width: none;
	overflow-y: scroll;
	position: fixed;
	top: 10%;
	bottom:10%;
	left: 25vw;
	right: 25vw;
}

@media (orientation: portrait) {
	.list-content {
		left: 2vw;
		right: 2vw;
		top: 5%;
		bottom: 10%;
	}
	img {
		width: 90%;
	}
}

@media (min-width: 666px) and (max-width: 1065px) {
	img {
		width: auto;
	}
}

.black-box, .black-box-code, .black-box-desc {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.black-box, .black-box-code {
	align-items: center;
}

.preview, .explanation, .notes {
	text-align: center;
}

.desc {
	display: block;
	margin: 10px;
	line-height: 1.25;
	padding-left: 20px;
	text-indent: -20px;
	text-align: left;
}

.explanation {
	color: white;
}

.notes {
	color: gray;
	font-style: italic;
}

.desc-bold {
	color: red;
	font-weight: bold;
}

.quote {
	color: yellow;
}

.func {
	color: cyan;
	font-family: 'Courier New', Courier, monospace;
	background-color: black;
}

.argValue {
	color: lightgray;
	font-family: 'Courier New', Courier, monospace;
	background-color: black;
}

.trigger {
	color: lightgray;
	font-family: 'Courier New', Courier, monospace;
	background-color: black;
}

h1 {
	display: block;
	margin-bottom: 1px;
	color: #7b339f;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

p {
	display: block;
	margin-bottom: 10px;
	font-size: 1em;
	text-align: left;
}

hr {
	border: none;
	height: 2px;
	background-color: #333;
	margin: 20px 0;
	width: 100%;
}

textarea {
	white-space: pre-wrap;
	left: -999999px;
	position: absolute;
}

pre {
	width:80%;
	padding: 15px;
	resize: none;
	background-color: #212121;
	color: #9AE569;
	overflow-x: auto;
	tab-size: 2;
	scrollbar-width: none;
	border: 1px solid rgba(231, 76, 60, 1);
	border-radius: 10px;
	box-shadow:
	0 0 5px rgba(231, 76, 60, 0.25),
	0 0 10px rgba(231, 76, 60, 0.25),
	0 0 15px rgba(231, 76, 60, 0.25),
	0 0 20px rgba(231, 76, 60, 0.25),
	inset 0 0 5px rgba(231, 76, 60, 0.25),
	inset 0 0 10px rgba(231, 76, 60, 0.25),
	inset 0 0 15px rgba(231, 76, 60, 0.25),
	inset 0 0 20px rgba(231, 76, 60, 0.25);
}

a {
	color: lightgray;
	text-decoration: none;
}

a:hover {
	color: gray;
}