.info-container {
	position: fixed;
	top: 70px;
	bottom: 40px;
	width: 1000px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	transition: transform 0.3s ease;
}

.info-main {
	width: 100%;
	height: 100%;
	color: white;
	background-color: white;
	transition: transform 0.3s ease;
	overflow: auto;
	scrollbar-width: none;
}

.info-sub {
	width: 300px;
	height: 100%;
	background-color: white;
	color: white;
	box-shadow: -10px 0 15px rgba(0,0,0, 0.25);
	transition: transform 0.3s ease;
	overflow: auto;
	scrollbar-width: none;
}

.bi { /* bold + italic */
	font-weight: 1000;
	font-style: italic;
}

.rkai { /* rata kanan */
	display: block;
	text-align: right;
	padding-right: 50px;
	padding-left: 60px;
	color: black;
	font-style: italic;
}

.rkii { /* rata kiri */
	display: block;
	text-align: left;
	padding-left: 20px;
	color: black;
	font-style: italic;
}

.subtitle {
	color: #A40000;
	font-weight: 100;
	font-size: 20px;
	font-style: normal;
}

.estop1 { /* empty space before text */
	margin-top: 50px;
}

.esbot1 { /* empty space after text */
	margin-bottom: 50px;
}

.estop2 { /* empty space before text */
	margin-top: 25px;
}

.esbot2 { /* empty space after text */
	margin-bottom: 25px;
}

.estop3 { /* empty space before text */
	margin-top: 15px;
}

.esbot3 { /* empty space after text */
	margin-bottom: 15px;
}

.gap {
	margin-bottom: 7px;
}

.date {
	font-size: 13px;
	font-weight: 1000;
}

.linki {
	text-decoration: none;
	color: black;
}

.linki:hover {
	color: grey;
}

.pi { /* paragraf */
	text-indent: 50px;
	font-weight: 100;
	text-align: justify;
	font-style: normal;
	color: black;
}

.si { /* 1 sentence */
	text-align: right;
}

.pi b {
	font-weight: bold;
}

.pi i {
	font-style: italic;
}

.gpi { /* garis pembatas */
	border: none;
	height: 3px;
	background-color: #A40000;
	width: auto;
}

.pfp { /* foto profil */
	display: flex;
	justify-content: center;
	margin: auto;
	width: 100%;
}

.ce { /* each part of contact */
	display: flex;
    align-items: center;
	height: 50px;
}

.cei { /* icon */
	display: flex;
	height: 100%;
	width: 50px;
    align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0, 0.25);
	box-shadow: inset -15px 0 30px rgba(0,0,0, 0.25);
}

.cet { /* text */
	display: flex;
	height: 100%;
	width: 180px;
	text-align: center;
    align-items: center;
	justify-content: center;
	font-size: 15px;
}

.cel { /* for links */
	text-decoration: none;
	color: white;
}

.cel:hover {
	color: grey;
}

.skills {
	background-color: #ccc;
}

.skille {
	display: block;
	text-align: left;
	padding-left: 30px;
	color: #A40000;
	font-style: normal;
	font-size: 15px;
}

@media (max-width: 1000px) {
	.info-container {
		width: 100%;
	}
}

@media (max-width: 700px) {
	.info-sub {
		display: none;
	}
}