* {
	margin: 0;
}

body, html {
	height: 100%;
	max-width: 100vw;
	margin: 0;
	font-family: Arial, sans-serif;
	scrollbar-width: none;
	overflow: hidden;
}

body {
	width: 100%;
	background-color: #5C6869;
}

header, footer {
	background-color: rgba(200, 200, 200, 0.4);
	font-size: 1em;
	user-select: none;
	position: fixed;
	width: 100%;
	z-index: 69;
	transform: translateY(0);
	transition: transform 0.3s ease;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
}

header {
	color: black;
	top: 0;
	height: 70px;
	display: flex;
}

footer {
	color: white;
	bottom: 0px;
	height: 40px;
}

footer p {
	text-align: center;
	margin-top: 10px;
}

.nav-menu, .youre-here {
	position: relative;
	border: 1px solid black;
	border-radius: 0px;
	width: 100px;
	height: 30px;
	color: black;
	background-color: lightblue;
	z-index: 1;
	user-select: none;
	overflow: hidden;
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.youre-here {
	background-color: gray;
	pointer-events: none;
}

.nav-menu::before {
	content: '';
	position: absolute;
	top: 0;
	left: -120%;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
	transform: skewX(-45deg);
	transition: all 0.5s;
	z-index: -1;
	user-select: none;
}

.nav-menu:hover::before {
	left: 120%;
}

.nav-menu:hover {
	color: white;
	transform: scale(1.05);
	background-color: #0056b3;
}

.unsupported-size {
	display: none;
}

@media (max-height: 320px), (max-width: 320px) {
	header {
		transform: translateY(-100%);
		transition: transform 0.5s ease;
	}
	footer {
		transform: translateY(100%);
		transition: transform 0.5s ease;
	}
	.unsupported-size {
		display: flex;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.warning-message {
		width: 80vw;
		height: auto;
		padding: 3vw;
		background-color: red;
		text-align: center;
		border-radius: 5vw;
		font-size: 4vw;
		font-weight: bold;
	}
}