body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('https://images.pexels.com/photos/162389/lost-places-old-decay-ruin-162389.jpeg?cs=srgb&dl=pexels-pixabay-162389.jpg&fm=jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: -2;
}

.bg-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

.home-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	z-index: 0;
	user-select: none;
}

.home-title {
	font-size: 5em;
	font-weight: bold;
	margin-bottom: 20px;
	z-index: 2;
}

.header {
	background-color: rgba(255, 255, 255, 0.0);
	font-size: 10px;
	color: white;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	color: white;
	line-height: 40px;
	z-index: 1000;
	user-select: none;
}

.footer {
	background-color: rgba(255, 255, 255, 0.0);
	font-size: 10px;
	color: white;
	position: fixed;
	bottom: 5px;
	width: 100%;
	height: 40px;
	color: white;
	line-height: 40px;
	user-select: none;
}

.text-footer {
	text-align: center;
	user-select: none;
}

@media (orientation: portrait) {
	.img-resizer {
		width: 95%;
		height: auto;
		align-items: center;
	}
	.text-resizer {
		font-size: 1em;
	}
}