body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('https://images.unsplash.com/photo-1714891203151-128aa39565e8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: -2;
}

.bg-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.home-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	z-index: 0;
}

.home-title {
	font-size: 5em;
	font-weight: bold;
	margin-bottom: 20px;
}

.header {
	background-color: rgba(255, 255, 255, 0.0);
	font-size: 10px;
	color: white;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	color: white;
	line-height: 40px;
	z-index: 1000;
}

.footer {
	background-color: rgba(255, 255, 255, 0.0);
	font-size: 10px;
	color: white;
	position: fixed;
	bottom: 5px;
	width: 100%;
	height: 40px;
	color: white;
	line-height: 40px;
}

.text-footer {
	text-align: center;
}

@media (orientation: portrait) {
	.img-resizer {
		width: 95%;
		height: auto;
		align-items: center;
	}
	.text-resizer {
		font-size: 1em;
	}
}