.progress-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 500px;
	gap: 10px;
}

.progress-container {
	flex: 1;
	position: relative;
	background-color: #D3D3D3;
	border: 5px solid #888;
	border-radius: 10px;
	overflow: hidden;
	height: 40px;
}

.progress-bar {
	height: 100%;
	width: 0%; /* Mulai dari 0 */
	background-color: red; /* Warna awal */
	transition: width 0.3s ease, background-color 0.5s ease;
}

.progress-text {
	position: absolute;
	width: 100%;
	top: 30%;
	left: 10px;
	font-weight: bold;
	text-align: left;
	color: #111;
}

.counter {
	font-size: 3.5rem;
	font-weight: bold;
	color: #333;
	text-align: right;
	min-width: 150px; /* Tetapkan lebar tetap untuk angka */
}

@media (max-width: 520px) {
	.progress-group {
		width: 100%;
	}
}