.manualPos {
	position: fixed;
	right: 170px;
	bottom: 40px;
	transform: translateX(50%);
	padding: 10px;
	transition: transform 0.3s ease;
	z-index: 33;
	background-color: red;
}

.allProgress {
	padding: 10px;
}

.progress-group {
	display: flex;
	flex-direction: row;
	width: 220px;
	height: 30px;
	padding: 5px;
	gap: 10px;
}

.progress-container {
	flex: 1;
	position: relative;
	background-color: #D3D3D3;
	border: 2px solid #888;
	border-radius: 10px;
	overflow: hidden;
	height: 25px;
}

.progress-bar {
	height: 100%;
	width: 0%; /* Mulai dari 0 */
	background-color: red; /* Warna awal */
	transition: width 0.3s ease, background-color 0.5s ease;
}

.progress-text {
	position: absolute;
	width: 100%;
	top: 30%;
	left: 10px;
	font-weight: 600;
	font-style: italic;
	text-align: left;
	color: #111;
}

.counter {
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-align: right;
	min-width: 60px;
	top: 50%;
	transform: translateY(20%);
}

@media (max-height: 500px) {
	.progBarPos {
		transform: translateX(50%) translateY(150%);
	}
}

@media (max-width: 700px) {
	.progBarPos {
		transform: translateX(50%) translateY(20%);
	}
	.counter {
		min-width: 50px;
	}
	.progress-group {
		width: 150px;
	}
}

@media (max-width: 700px), (max-height: 300px) {
	.progBarPos {
		transform: translateX(50%) translateY(150%);
	}
}