/*PARAGRAPH*/

h1 {
	display: block;
	color: #7b339f;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

p {
	display: block;
	font-size: 1em;
	text-align: justify;
	margin: 10px 15%;
}

hr {
	border: none;
	height: 2px;
	background-color: gray;
	margin: 40px 100px;
	width: auto;
}

.explanation, .notes {
	text-align: center;
}

.desc, .paragraph {
	display: block;
	line-height: 1.25;
	padding-left: 20px;
	text-indent: -20px;
	text-align: left;
}

.paragraph {
	text-indent: 30px;
	text-align: justify;
}

.explanation {
	color: white;
}

.notes {
	color: gray;
	font-style: italic;
}

.trigger {
	color: lightgray;
	font-family: 'Courier New', Courier, monospace;
	background-color: black;
}

/* FOR LINKS */

a {
	color: lightgray;
	text-decoration: none;
}

a:hover {
	color: gray;
}

/*SPAN*/

.desc-bold {
	color: red;
	font-weight: bold;
}

.quote {
	color: yellow;
}

.func {
	color: cyan;
	font-family: 'Courier New', Courier, monospace;
	background-color: black;
}

.argValue {
	color: lightgray;
	font-family: 'Courier New', Courier, monospace;
	background-color: black;
}

@media (max-width: 1000px), (max-height: 600px) {
	p {
		margin: 10px 5%;
	}
}