.b { /* bold*/
	font-weight: 600;
}

.sb { /* super bold*/
	font-weight: 1000;
}

.i { /*italic */
	font-style: italic;
}

.subtitle {
	font-size: 20px;
	font-style: normal;
}

.estop1 { /* empty space before text */
	margin-top: 50px;
}

.esbot1 { /* empty space after text */
	margin-bottom: 50px;
}

.estop2 { /* empty space before text */
	margin-top: 25px;
}

.esbot2 { /* empty space after text */
	margin-bottom: 25px;
}

.estop3 { /* empty space before text */
	margin-top: 15px;
}

.esbot3 { /* empty space after text */
	margin-bottom: 15px;
}

.gap {
	margin-bottom: 7px;
}

.link {
	text-decoration: none;
	color: #333;
}

.link:hover {
	text-decoration: underline;
	color: #555;
}

.par { /* paragraf */
	text-indent: 50px;
	text-align: justify;
	font-style: normal;
	margin-top: 15px;
}

.infoL { /* garis pembatas */
	border: none;
	height: 3px;
	width: auto;
	margin-top: 50px;
}

.category {
	font-weight: 600;
	margin-top: 50px;
}

.name {
	font-weight: 600;
	margin-top: 25px;
}


.title {
	font-size: 10vw;
    transition: font-size var(--animTime) var(--animType);
	z-index: 2;
}

@media (min-width: 700px) {
	.title {
		font-size: 70px;
	}
}

@media (max-width: 200px) {
	.title {
		font-size: 20px;
	}
}